/* Base text */
body,
p,
.body-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #005dad;
  line-height: 25px;
}

/* Card */
.top-frame {
  width: 360px;
  min-height: 500px;
  border-radius: 20px;
  margin: 10px;
  background-color: #edf9ff;
  padding: 25px;

  background-image: url("assets/waves.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Title */
.top-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #edf9ff;
  margin-bottom: 75px;
}

/* Layout */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Mascot */
.top-cube {
  width: 115px;
  height: auto;
}
