
/* FOR THE TOP POPUP */

p, .body-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #005DAD;
    line-height: 25px;
    text-align: justify;
}

.top-frame {  
    width: 360px;
    min-height: 500px;
    max-height: 600px;
    border-radius: 20px;
    margin: 10px;
    background-color: #EDF9FF;
    padding: 25px;
    background-image: url("images/waves.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.top-title {
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #EDF9FF;
    margin-bottom: 75px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  /* content: ""; */
  display: table;
  clear: both;
}

.top-cube {
    margin-right: 10px;
    width: auto;
    width: 115px;
    height: auto;
}
